*{
	margin: 0;
	padding: 0;
}
.boo{
	font-size: 30px;
}
.dom{
	font-size: 30px;
	text-align: center;
}
.doom{
	text-decoration: none;
}
.doom:hover{
	font-size: 35px;
	transition: 0.5s;
}